{% load custom_filters %}
<!-- Mobile Exam Times Slider -->
<div class="mobile-exam-times">
  <div class="container-fluid">
      <div class="scrollable-times">
        {% comment %} {% for exam in exam_schedule %}
          {% for hour in 6|range_to_21 %}
              <a href="{% url 'exam_schedule' %}?time={{ hour|time:'H:i' }}"
                 class="time-slot {% if current_time == hour %}active{% endif %}">
                  {{ hour|time:'g A' }}
              </a>
          {% endfor %}
        {% endfor %} {% endcomment %}

        {% for exam in exams_scheduled %}
    <!-- Access the hour directly from the datetime object -->
              <a href="{% url 'exam_detail' exam.id %}">{{ exam.scheduled_datetime.time.hour }}</a>
       
        {% empty %}
        {% for hour in 6|range_to_21 %}
              <a href="{% url 'exam_schedule' %}?time={{ hour|time:'H:i' }}"
                 class="time-slot {% if current_time == hour %}active{% endif %}">
                  {{ hour|time:'g A' }}
              </a>
          {% endfor %}
            {% comment %} <p>No exams scheduled at this exact moment.</p> {% endcomment %}
        {% endfor %}
      </div>
  </div>
</div>

