{% extends "base.html" %}
{% load custom_filters %}  <!-- Load custom template filter -->

{% block title %}Ibisubizo{% endblock %}
{% block content %}

<h2><strong>Amanota: </strong> {{ user_exam.score }} / {{ user_exam.exam.questions.count }}</h2>
<p>{{ user_exam.completed_at|timesince }} ago</p>

<section class="mt-5">
    {% for answer in answers %}
        <ul class="list-group mb-4">
            <!-- Question -->
            <li class="list-group-item list-group-item-secondary">
                <strong>{{ forloop.counter }}. {{ answer.question.question_text }}</strong>
            </li>

            <!-- Display Choices for the Question -->
            {% for choice in question_choices|get:answer.question.id %}
                <li class="list-group-item 
                    {% if choice.id == answer.selected_choice.id %} list-group-item-warning {% endif %}
                    {% if choice.id == answer.question.correct_choice.id %} list-group-item-success {% endif %}
                ">
                    {% if choice.image_choice %}
                        <img src="{{ choice.image_choice.sign_image.url }}" 
                             alt="{{ choice.image_choice.definition }}" 
                             class="img-fluid" style="max-width: 150px;">
                    {% else %}
                        {{ choice.text }}
                    {% endif %}

                    <!-- User's selected answer -->
                    {% if choice.id == answer.selected_choice.id %}
                        <span class="badge bg-warning text-dark">Your Answer</span>
                    {% endif %}

                    <!-- Correct Answer -->
                    {% if choice.id == answer.question.correct_choice.id %}
                        <span class="badge bg-success">Correct Answer</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>

<a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>

{% endblock %}
