{% extends 'base.html' %} {% load static %} {% block title %}Login{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<div class="row justify-content-center">
  {% comment %} <div class="col-md-5">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        src="https://www.youtube.com/embed/xq6o-Gh0nNo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="embed-responsive-item">
      </iframe>
    </div>
  </div> {% endcomment %}
  
  <div class="col-md-5">
    <div class="login-card">
      <h2 class="bold-logo">KDS</h2>
      <p class="text-info"><strong>Uzuza neza Konti</strong></p>

      {% include "flash_message.html" %}

      <form method="post">
        {% csrf_token %}
        <!-- Username Field -->
        <input
          type="text"
          name="username"
          id="id_username"
          class="login-input"
          placeholder="Telefone cg Imeyili"
          required
        />

        <!-- Password Field with Toggle -->
        <div class="password-field">
          <input
            type="password"
            name="password"
            id="id_password"
            class="login-input"
            placeholder="Ijambo banga"
            required
          />
          <button type="button" id="togglePassword" class="toggle-button">
            <i class="bi bi-eye d-flex pb-3"></i>
          </button>
        </div>

        <button type="submit" class="login-button">Injira</button>
      </form>

      <p class="mt-3 text-white">
        Nta Konti Ufite?
        <a href="{% url 'register' %}" class="cy-link">HANGA KONTI</a>
      </p>
    </div>
  </div>
</div>

<!-- Toggle Password Visibility -->
<script>
  const passwordInput = document.getElementById("id_password");
  const toggleButton = document.getElementById("togglePassword");

  toggleButton.addEventListener("click", function () {
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      this.querySelector("i").classList.replace("bi-eye", "bi-eye-slash");
    } else {
      passwordInput.type = "password";
      this.querySelector("i").classList.replace("bi-eye-slash", "bi-eye");
    }
  });
</script>
{% endblock %}
