{% extends "base.html" %} {% load custom_filters %} {% block content %}
<div class="container">
  <div class="justify-content-center">
    <div class="col-md-6">
      {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %} {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if validlink %}
      <h3 class="mb-4">Hindura ijambo ry'ibanga</h3>
      <form method="post">
        {% csrf_token %} {{ form.new_password1.label_tag }}
        <i class="bi bi-eye-slash" id="togglePassword1"></i>
        {{ form.new_password1|add_class:"form-control mb-3" }} 
        {{form.new_password2.label_tag }}
        <i class="bi bi-eye-slash" id="togglePassword2"></i>
        {{ form.new_password2|add_class:"form-control mb-3" }}
        <button type="submit" class="btn btn-success">Hindura</button>
      </form>
      {% else %}
      <div class="alert alert-danger">
        Link ushaka gukoresha ntikiri valid. Saba indi link yo guhindura ijambo
        ry'ibanga.
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const togglePassword1 = document.querySelector('#togglePassword1');
      const passwordField1 = document.querySelector('#id_new_password1');
      if (togglePassword1 && passwordField1) {
          togglePassword1.addEventListener('click', function () {
              const type = passwordField1.getAttribute('type') === 'password' ? 'text' : 'password';
              passwordField1.setAttribute('type', type);
              this.classList.toggle('bi-eye');
          });
      }
  
      const togglePassword2 = document.querySelector('#togglePassword2');
      const passwordField2 = document.querySelector('#id_new_password2');
      if (togglePassword2 && passwordField2) {
          togglePassword2.addEventListener('click', function () {
              const type = passwordField2.getAttribute('type') === 'password' ? 'text' : 'password';
              passwordField2.setAttribute('type', type);
              this.classList.toggle('bi-eye');
          });
      }
  });
  </script>
  
{% endblock %}
