<ul class="list-group">
  {% for exam in exams %}
  <li class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <strong class="text-primary fs-3">Icya {{ forloop.counter }}</strong>
      <a href="{% url 'exam_results' exam.id %}" class="btn btn-sm btn-outline-info">Reba byose</a>
    </div>
    <h5 class="mb-0">Ubwoko bw'ibibazo: {{ exam.exam.exam_type }}</h5>
    <small class="mb-0 d-block">Amanota: {{ exam.score }}/{{ exam.exam.total_score }} ({{ exam.percent_score }}%)</small>
    <small class="text-muted">
      
      Wagikoze: {{ exam.completed_at|date:"d-m-Y H:i" }} 
    </small>
    <small class="text-muted d-block">
      Iminota: {{ exam.time_taken }} 
    </small>
  </li>
  {% empty %}
  <li class="list-group-item text-muted">Nta kizamini gihari.</li>
  {% endfor %}
</ul>
