
<style>
    .hours {
        background-color: rgba(00, 255, 255, 0.5);
        font-weight: 700;
        font-size: 1.5rem;
    }

    /* Scrollable container styling */
    .scrollable-times {
        display: flex;
        flex-wrap: nowrap;
        /* Force items to stay on one line */
        overflow-x: auto;
        gap: 1rem;
        /* Space between hour items */
        padding: 0.1rem 1rem;
        padding-bottom: 0px;
        /* Optional horizontal padding */
        -ms-overflow-style: none;
        /* IE/Edge hide scrollbar */
        scrollbar-width: none;
        /* Firefox hide scrollbar */
    }

    .scrollable-times::-webkit-scrollbar {
        display: none;
        /* Chrome/Safari hide scrollbar */
    }
    

    /* Each exam-hour is a flex item that doesn't shrink */
    .exam-hour {
        flex: 0 0 auto;
        
    }

    /* Basic styling for hour links */
    .hour-link {
        color: #0000ff;

    }

    .hour-link.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
</style>

<div class="mobile-exam-times hours">
    <div class="container-fluid">
        <div class="scrollable-times">
                        {% for exam in exams_scheduled|dictsort:"scheduled_datetime" %}
                         {% if exam.is_published %}
                <a href="{% url 'exam_detail' exam.exam.id %}" class="hour-link">
                    {{ exam.scheduled_datetime|time:"H:00" }}
                </a>
                {% else %}
                <span class="hour-link disabled" title="Isaha ntago iragera">
                    {{ exam.scheduled_datetime|time:"H:00" }}
                </span>
                {% endif %}
            </div>
            {% empty %}
            <p>Ntakizamini gihari</p>
            {% endfor %}
        </div>
    </div>
</div>